# Ambiente virtual
venv/

# Arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de ambiente
.env

# Cache e builds
*.log
*.sqlite3

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
